/*页眉的内填充*/
.header {
	padding: 20px 60px;
	background-color:#cfcfcf;
}
/*顶部选项总体*/
.top-item a {
	color: #777777;
	line-height: 40px;
}
/*顶部选项的li宽*/
.top-item li {
	width: 100px;
	text-align: center;
}
/*顶部选项竖线  |  的宽度*/
.top-item .li-split {
	width: 10px;
}
/*搜索文本框宽度*/
#search {
	width: 300px;
}
/*顶部导航条*/
.top-nav {
	background-color: #F2F2F2;
	height: 50px;
	padding-top: 6px;
	margin-bottom: 20px;
}
/*管理下拉框样式*/
#top-dropdown-btn {
	color: #777777;
}
/*管理下拉框li*/
.top-dropdown-ul li {
	width: 100%;
}
/* 索引页大背景*/
.mycontent {
	background-image: url(../images/bg1.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 561px;
}
/*索引页半透明层*/
.inputDiv {
	height: 371px;
	width: 270px;
	background-color: rgba(255, 255, 255, 0.7);
	float: right;
	margin: 100px 60px 0 0;
	text-align: center;
	color: cadetblue;
	line-height: 40px;
}
/*索引页几个链接按钮*/
.inputDiv a {
	margin: 8px;
	font-size: 16px;
}
/*按钮宽度	*/
.inputDiv .btn {
	width: 90%;
}
/*通用的去ul默认格式*/
ul,li {
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	font-family: "微软雅黑", "黑体";
	background-color:#cfcfcf;
}
.txtred{
	color: red;
}
.title-row-2 {
	line-height: 1.2em;
	height: 2.4em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.title-row-1 {
	line-height: 1.2em;
	height: 1.2em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.li-row-1 {
	line-height: 1.2em;
	height: 1.2em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.text-row-3 {
	line-height: 1.2em;
	height: 3.6em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.text-row-2 {
	line-height: 1.2em;
	height: 2.4em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.text-row-1 {
	line-height: 1.2em;
	height: 1.2em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
